//azul turquesa
$color1: #23A38F;
//verde
$color2: #B7C11E;
//crema
$color3: #EFF1C2;
//rojo
$color4: #F0563D;
//azul marino
$color5: #2E313D;

$oscar: black;


@font-face {
    font-family: 'Oswald'; /*a name to be used later*/
    src: url('assets/fonts/Oswald-Light.ttf'); /*URL to font*/
}


html, body {
	font-size: 100%;
	font-family: 'Oswald';
	font-weight: 300; 
}

/*
	USERS: PROFILE
*/
#profile {
	background-color: $color1; 	
	height: 100%;
	padding: 0;
	position: fixed;

	img {
		background-color: #dadada;
		margin: 40px auto;
		width: 40%;			
	}

}

/*
	MENU DEL USUARIO
*/
#user-menu {
	background-color: $color1;
	position: fixed;
	z-index: 1;

	div {
		 
		padding: 10px;
		text-transform: uppercase;
		
	}

	ul {		
		font-weight: 400;
		display: inline;
		list-style: none;	
		padding-left: 0;	

		li {			
			display: inline;			
			padding: 0 20px;			
		}
	}

	a {
		color: #dadada;
		text-decoration: none;
	}

	a:hover {
		color: #fff;
	}
}

#user-info {
	background-color: darken($color1, 5%);
	color: #fff;
	padding: 20px;

	p:first-child {
		text-shadow: 0px 1px 1px #4d4d4d;
		font-weight: 400; 
		font-size: 2em;
		text-align: center;
	}
}

@media (max-width: 768px){
	#profile, #user-menu {
		position: static;

		ul {
			position: static;
		}
	}

}

/*
	CONTENIDO DE LA PAGINA
*/
#menu-content {
	float: right;
	margin-top: 80px;
	line-height: 2em;
}




/*
	TEXT FORMATTING
*/
.embossed {
	color: #dadada;
	text-shadow: 0px 1px 1px #4d4d4d;
}



/*
	OTROS CAMBIOS
*/

// Centrar cualquier elemento
.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}


#wrap > .container {
	margin-top: 20px;
}

#wrap > .navbar{
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	background-image: linear-gradient(to bottom, $color5 0, darken( $color5, 5% ) 100%);
	background-repeat: repeat-x;
	z-index: 5;
}


@media (max-width: 768px){
	.container {
		padding-left: 20px;
	}
}

.row {
	margin: 0;
}

.chart {
	height: 300px;
}

//paupatu cosas

#profile-in-service {
    position: fixed;
    height: 100%;
    right: 0;
    background-color: #23a38f;
    padding: 0;
    
    img {
		background-color: #dadada;
		margin: 40px auto;
		width: 40%;			
    }
    li {
            list-style-type: none;
    }
}

#service {
    position: fixed;
    background-color: #fff;
    position: absolute;
    height: 100%;
}

@media (max-width: 768px) {
    #profile-in-service, #service {
        position: static;
    }
    #service {
        margin-bottom: 60px;
    }
}


.cuadro-flotante {
    background-color: darken($color1, 5%);
    border-radius: 10px;
    padding: 30px;
    top: 50px;
    
    li {
        list-style-type: none;
        font-size: 20px;
        padding: 3px;
    }
}



//Hoja de estilos reshulona del oscar:
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


//MAPA

#mapas{
   height:300px;
}
//Para el index, boton de busqueda:
input{
   text-align:center;
}
.divopaco{
    position:absolute;
    width: 100%;
    height:300px;
    background-color: rgba($oscar, .7);
    z-index: 2;
}

.searchbox{
    margin:0 auto;
    @include vertical-align;
    width: 55%;
    height: 55px;
}
