html, body {
  font-size: 100%;
  font-family: 'Oswald', serif;
  font-weight: 300; }

/*
	USERS: PROFILE
*/
#profile {
  background-color: #23a38f;
  height: 100%;
  padding: 0;
  position: fixed; }
  #profile img {
    background-color: #dadada;
    margin: 40px auto;
    width: 40%; }

/*
	MENU DEL USUARIO
*/
#user-menu {
  background-color: #23a38f;
  position: fixed;
  z-index: 1; }
  #user-menu div {
    padding: 10px;
    text-transform: uppercase; }
  #user-menu ul {
    font-weight: 400;
    display: inline;
    list-style: none;
    padding-left: 0; }
    #user-menu ul li {
      display: inline;
      padding: 0 20px; }
  #user-menu a {
    color: #dadada;
    text-decoration: none; }
  #user-menu a:hover {
    color: #fff; }

#user-info {
  background-color: #1e8e7d;
  color: #fff;
  padding: 20px; }
  #user-info p:first-child {
    text-shadow: 0px 1px 1px #4d4d4d;
    font-weight: 400;
    font-size: 2em;
    text-align: center; }

@media (max-width: 768px) {
  #profile, #user-menu {
    position: static; }
    #profile ul, #user-menu ul {
      position: static; } }
/*
	CONTENIDO DE LA PAGINA
*/
#menu-content {
  float: right;
  margin-top: 80px;
  line-height: 2em; }

/*
	TEXT FORMATTING
*/
.embossed {
  color: #dadada;
  text-shadow: 0px 1px 1px #4d4d4d; }

/*
	OTROS CAMBIOS
*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#wrap > .container {
  margin-top: 20px; }

#wrap > .navbar {
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  background-image: linear-gradient(to bottom, #2e313d 0, #23252e 100%);
  background-repeat: repeat-x;
  z-index: 5; }

@media (max-width: 768px) {
  .container {
    padding-left: 20px; } }
.row {
  margin: 0; }

.chart {
  height: 300px; }

#mapas {
  height: 300px; }

input {
  text-align: center; }

.divopaco {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2; }

.searchbox {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 55%;
  height: 55px; }
